<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h3>Status: {{ status }}</h3>
<h4>Amplitude: {{ siri.amplitude }}</h4>
<h4>Speed: {{ siri.speed }}</h4>
<div id="siri-container"></div>
<button (click)="onStart()">Start</button>
<button (click)="onStop()">Stop</button>
<br>
<input type="number" [value]="siri.speed" min="0.1" step="0.1" (change)="setSpeed($event)"> <label for="">Alterar velocidade</label>
<br>
<input type="number" [value]="siri.amplitude" min="0.1" step="0.1" (change)="setAmplitude($event)"> <label for="">Alterar intensidade</label>

